.App {
  background-color: #18191b;
  color: white;
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #242527;
}
.logo img {
  object-fit: contain;
  margin-right: 5px;
}

.inner {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 0;
}

.toggle {
  display: none;
  background-color: red;
}

@media screen and (max-width: 950px) {
  .inner {
    max-width: 85%;
  }
}
@media screen and (max-width: 750px) {
  .inner {
    max-width: 80%;
  }
}
